<nav>
	<ul>
		<li><%= link_to "Home", root_path %>
		<li><%= link_to "Events", events_path %>
		<li><%= link_to "Discussion", discussion_path %>
		<li><%= link_to "Shop", shop_path %>
		
	</ul>
	
</nav>